.bg-purple {
  background-color: #7e1b55;
}

.border-purple {
  border-color: #7e1b55;
}

.placeholder-text-purple {
  color: #7e1b55;
}

.wrapper input {
  font-size: larger;
  color: #7e1b55;
  border-color: #7e1b55;
  /* background-color: red; */
}
