.navBar {
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -50vw;
  background-color: #70164b;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: left 1s ease;
}

nav ul {
  list-style: none;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0;
  padding: 30px;
  border-bottom: 1px solid white;
  cursor: pointer;
  font-size: 100px;
}

nav ul li :hover {
  background-color: white;
  color: #70164b;
}

nav.isActive {
  left: -18px;
  width: 100vw;
}
.bg-purple {
  background-color: #7e1b55;
}
.bg-rouge {
  background-color: #70164b;
}

@media screen and (min-width: 375px) {
}
