.navBar {
  width: 0vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -50vw;
  background-color: #70164b;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: left 1s ease;
}

nav ul {
  list-style: none;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0;
  cursor: pointer;
  font-size: 85px;
  font-weight: lighter;
}

nav ul li :hover {
  background-color: white;
  color: #70164b;
}

nav.isActive {
  left: -16px;
  width: 100vw;
}

.btn-menu {
  position: fixed;
  top: 89vh;
  right: 12px;
}

@media screen and (min-width: 768px) {
  .navBar {
    width: -50vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -80vw;
    background-color: #70164b;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: left 1s ease;
  }

  nav ul {
    list-style: none;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    margin: 0;
    padding: 30px;
    border-bottom: 1px solid white;
    cursor: pointer;
    font-size: 100px;
  }
  nav ul li :hover {
    background-color: white;
    color: #70164b;
  }

  nav.isActive {
    left: -80px;
    width: 100vw;
  }
}

.btn-menu {
  position: fixed;
  top: 47vh;
  right: 104px;
}
